# Custom makefiles
makefile
Makefile

# Compilation files
*.stackdump

# Compilation directories and logs/cache
doc/dist/
doc/graph/
doxygen/
bin/
build/
release/
debug/
obj/
log/
cache/
dll/
x64/
scratch/

# Config, directory for personal code snippets and data files
config/
snip/
data/
scratch/
*.dat

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debugging/profiling
massif*
gmon.out
gprof

# IDEs
*.cbp
*.depend
*.layout
*.sublime-project
*.sublime-workspace
.vs/
.vscode/
.project
Debug/
Release/
*.sln
*.u2d
*.vfproj*
fort*
*.fdz
*.dmp

# Temp files
~$*.docx
*.csv#

