# Custom makefiles
makefile
Makefile

# Compilation files
*.stackdump

# Compilation directories and logs/cache
bin/
*build/
*release/
*debug/
Debug/
Release/
obj/
log/
cache/
dll/
x64/

# Config, directory for personal code snippets and data files
config/
data/
output/
scratch/
*.dat

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debugging/profiling
massif*
gmon.out
gprof

# IDEs
*.cbp
*.depend
*.layout
*.sublime-project
*.sublime-workspace
.vs/
.vscode/
.project
*.sln
*.u2d
*.vfproj*
*.fdz
*.dmp

# Temp files
~$*.docx
*.csv#

# Docs
docs/_build/