[submodule "feh"]
    path = vendor/feh
    url = https://github.com/samharrison7/fortran-error-handler
	branch = ifort16

[submodule "mo_netcdf"]
    path = vendor/mo_netcdf
    url = https://github.com/schaefed/mo_netcdf

[submodule "vendor/datetime-fortran"]
	path = vendor/datetime-fortran
	url = https://github.com/samharrison7/datetime-fortran
[submodule "vendor/nanofase-data"]
	path = vendor/nanofase-data
	url = https://github.com/NERC-CEH/nanofase-data.git
[submodule "vendor/spoof"]
	path = vendor/spoof
	url = https://github.com/samharrison7/spoof.git
