# Custom makefiles
makefile
Makefile

# Compilation files
*.stackdump

# Compilation directories and logs/cache
doc/dist/
doc/graph/
doxygen/
bin/
obj/
log/
cache/
dll/
x64/

# Directory for personal code snippets and any output.txt data file
snip/
output*.*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDEs
*.cbp
*.depend
*.layout
*.sublime-project
*.sublime-workspace
.vs/
.project
Debug/
*.sln
*.u2d
*.vfproj*
fort*
*.fdz
*.dmp

# Temp files
~$*.docx

# netCDF
*.nc
*.json

