@media print {
    a:link:after, a:visited:after {  
      display: none;
      content: "";    
    }
    /* Remove sidebar for printing */
    .visible-xs.visible-sm.hidden-md {
        display: none !important;
    }
    /* Remove source code link for printing */
    .well.well-sm ul.list-inline li {
        display: none !important;
    }
}
